*{  
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  color: white;
} 
.description{
  grid-column: 1/13 ;
  grid-row: 7/9;
}
.title{
  text-shadow: 8px 8px 8px black;
  font-size: 10vw;
}
.desc{
  text-shadow: 3px 3px 3px black;
  font-size:1.4vw;
}
.mapbox{
    border-radius: 1.5vw;
    grid-row: 3/9;
    grid-column: 2/11;

}
.searchbox{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-row: 10/11;
  grid-column: 2/11;
}
.location, .find{
       border-radius: 1.5vw;
       color:black;
       text-shadow: 1px 1px 1px black;
       font-size: 1.2vw;
       text-align: center;
}
.location{
  width: 40vw;
}
.find{
  width: 10vw;
 
}
body {
  margin: 0;
  padding: 0;
}
.box-container{
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows:repeat(12,1fr); 
  background-color: black;
  background-image: url(https://wallpaperaccess.com/full/2996087.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100%;
  height: 100vh;
  width: 100%;
}
.pages{
  border: solid 1px white;
  padding: 1vw;
  text-decoration: none;
  text-shadow: 4px 4px 4px black;
  color: white;
  margin: 0.5vw;
  font-size: 1.3vw;
}
input{
  color: black;
}
.logo{
  margin-left: 30px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
.box ,.navcontainer{
  font-size: 1em;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.navcontainer{
  grid-column: 1/13;
  grid-row: 1;
}

.item{
  border:solid 1px black;
}

.loginbox,.signupbox{
  background-color: rgba(33, 29, 29, 0.6); 
  grid-row: 5/11;
  grid-column: 5/9;
  border: solid 0.2VW white;
  border-radius: 1.5vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.login_box{
  margin: 0.2vh;
  text-align: center;
  border-radius: 1.5vw;
  font-size: 1.2vw;
  width: 25vw;
  height: 8vh;
}
.submit{
  font-size: 1vw;
  text-align: center;
  border-radius: 1.5vw;
 width: 7vw;
 height: 6vh;
}
.leaflet-marker-icon, .leaflet-routing-alt{
  font-size: 0px;
  display: none;
  alt: none;
}
.aboutbox{

  display: flex;
  flex-direction: column;
  grid-row: 3/9;
  grid-column: 2/12;
  font-size: 1.5em;
  padding: 1vw;
}
.heading{
 font-size:2.2em; 
 text-align: center;
}
